<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Class List | ClassMe</title>
    </head>
    <body>
        <div class='box'>
            <div>Class List</div>
            <form action='/test' method='POST'>
                <input type='submit' value='Show Classlist'>
            <div>
                {% for classes in DB[1] %}
                    <div>
                        {% for value in classes %}
                        <div style = 'display: inline-block;'>&nbsp; {{ value }} &nbsp;</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html> -->