<!DOCTYPE html>
<html>
    <head> 
        <link rel='stylesheet' type='text/css' href="{{ url_for ('static',filename='styles/FrontEndRegisterStyle.css')}}">
        <meta charset="urf-8">
        <title> ClassMe</title>
    </head>
    <style>
        html {
            background-image: url({{ url_for ('static',filename='styles/def2f1_1080p.jpg')}});
            /* background-color: white; */
            /* text-align: center; */
            height: 100%;
            width: 100%;
            background-repeat: no-repeat; 
            background-size: cover;
        }
    </style>
    <body>
        <section class="signup">
        <h1>ClassMe</h1>
        <p>Login</p>
        <form action="/login" method="POST">
            <label for="username">Username: </label>
            <br>
            <input id="username" name="username" type="text" class="inputbox" required minlength="1">
            <br>
            <label for="pw">Password:</label>
            <br>
            <input id="pw" name="password" type="password" class="inputbox" required minlength="1">
            <br>
            <br>
            <div>{{ result }}</div>
            <br>
            <br>
            <input type="submit" value="Login" class="sub">
        </form>
        <form action='/' method='GET'>
            <input type='submit' value='Go back to Welcome' class='sub'>
        </form>
    </section>
    </body>
</html>