<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="urf-8">
        <link rel='stylesheet' type='text/css' href="{{ url_for ('static',filename='styles/welcome.css')}}">
        <meta name="viewport" content="width=device-width">
        <!-- <link rel="stylesheet" type="text/css" href="/static/styles/welcome.css"> -->
        <title>Welcome | ClassMe</title>
        <!-- <link rel='stylesheet' type='text/css' href="{{ url_for ('static',filename='styles/index.css')}}"> -->
    </head>
    <header>
        <div class='nav'>
            <div class='brand-name'>
                <h1>ClassMe</h1>
            </div> 
        </div>
    </header>
    <body>
        <div class='poster'>
            <div class='box-message'>
                <div>Welcome to ClassMe</div>
                <div>Create and Join Groups</div>
                <div>Chat and Post to the Group</div>
                <div>We are Stronger Together</div>
                <div>We Invite You to Try ClassMe</div>
            </div>
            <div class="box-user">
                <form action='/login' method='GET'>
                    <input type='submit' value='Login'>
                </form>
                <form action='/register' method='GET'>
                    <input type='submit' value='Register'>
                </form>
                <!-- <form action='/test' method='GET'>
                    <input type='submit' value='Database'>
                </form> -->
            </div>
        </div>
    </body>
    <style>
        html {
            background-image: url({{ url_for ('static',filename='styles/def2f1_1080p.jpg')}});
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }   
    </style>
</html>