<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Welcome | ClassMe</title>
        <!-- <link rel='stylesheet' type='text/css' href="{{ url_for ('static',filename='styles/index.css')}}"> -->
    </head>
    <body>
        <div class='box'>
            <div>Welcome to ClassMe</div>
            <form action='/login' method='GET'>
                <input type='submit' value='Go to login page'>
            </form>
            <form action='/register' method='GET'>
                <input type='submit' value='Register for an account'>
            </form>
            <form action='/test' method='GET'>
                <input type='submit' value='Database'>
            </form>
        </div>
    </body>
</html>