<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Login | ClassMe</title>
        <!-- <link rel='stylesheet' type='text/css' href="{{ url_for ('static',filename='styles/login.css')}}"> -->
    </head>
    <body>
        <div>Login In</div>
        <div class='box'>
            <form action ='/login' method = 'POST'>
                <input placeholder='Username' name='username'>
                <input placeholder='Password' name='password'>
                <input type='submit' value='Login'>
            </form>
            <div>{{ result }}</div>
            <!-- {% if login_result == None %}
            <div>Login error #001</div>
            {% endif %} -->
        </div>
        <form action='/' method='GET'>
            <input type='submit' value='Go back to Welcome'>
        </form>
    </body>
</html>